:root {
    --bg-color: #0D060D;
    --cyan-hightlight: #C5FBFF;
    --cyan-glow: #17F0FF;

    --pink-highlight: #E8A3FF;
    --pink-glow: #BA1FEE;

    --ui-container-bg: #27262d;

    --stroke-width: 3px;
    --border-radius: 10px;

    color: white;
    font-size: 24px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    
    height: 100%;
    background-color: var(--bg-color);
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}