.bannerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c25772;

    font-size: 1em;

    padding: 0.5em 1em;

    transition: transform 0.5s;
    z-index: 1;
}

.closed {
    transform: translateY(-100%);
}