.container {
    display: flex;
    flex-direction: column;

    align-items: center;

    flex: 1;
}

.votingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}