.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    padding: 2rem;
}

.heading {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 900;
    text-align: center;
}

.playerHeading {
    font-weight: 100;
    font-size: 1.2rem;
}

.playerList {
    width: 100%;
    min-height: 3rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

@keyframes makeSpace {
    from {
        max-width: 0;
        min-width: 0;
    }
    to {
        max-width: 20rem;
        min-width: 5rem;
    }
}

.playerButton {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    background: none;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: makeSpace 0.5s ease-out forwards,
}

.playerButton:hover {
    text-decoration: line-through;
    cursor: pointer;
}