.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    overflow: hidden;
    background: linear-gradient(135deg, var(--cyan-glow), var(--pink-glow));
}

.tabNames {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.tabButton {
    all: unset;
    width: 100%;
    height: 100%;
    flex: 1;
    background-color: blue;
    user-select: none;
}

.tabButton:hover {
    background-color: green;
    cursor: pointer;
}

.firstTabButton {
    border-width: 0px;
}

.lastTabButton {
    border-top-right-radius: 10px;
}

.selectedTabButton {
    background-color: purple;
}

.tabNames {
    text-align: center;
    font-size: 24px;
    height: 40px;
    border-width: 1px;
    borde: solid;
    border-color: white;
}